/*IMPORTS*/
@import "compass";

/*VARIABLES*/
$light-blue: #BFEFFF;
$white: #FFFFFF;
$orange: #FC4000;
$subtitles: "shelter_meregular";
$titles: "voluptate_demoregular";
$text: "dk_sleepy_timeregular";
$text_2:'janda_elegant_handwritingRg';

/*FONTS*/
@font-face {
    font-family: 'voluptate_demoregular';
    src: url('fonts/voluptate_demo-webfont.eot');
    src: url('fonts/voluptate_demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/voluptate_demo-webfont.woff') format('woff'),
         url('fonts/voluptate_demo-webfont.ttf') format('truetype'),
         url('fonts/voluptate_demo-webfont.svg#voluptate_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dk_sleepy_timeregular';
    src: url('fonts/dk_sleepy_time-webfont.eot');
    src: url('fonts/dk_sleepy_time-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dk_sleepy_time-webfont.woff') format('woff'),
         url('fonts/dk_sleepy_time-webfont.ttf') format('truetype'),
         url('fonts/dk_sleepy_time-webfont.svg#dk_sleepy_timeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'shelter_meregular';
    src: url('fonts/shelter_me-webfont.eot');
    src: url('fonts/shelter_me-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/shelter_me-webfont.woff') format('woff'),
         url('fonts/shelter_me-webfont.ttf') format('truetype'),
         url('fonts/shelter_me-webfont.svg#shelter_meregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'janda_elegant_handwritingRg';
    src: url('fonts/jandaeleganthandwriting-webfont.eot');
    src: url('fonts/jandaeleganthandwriting-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/jandaeleganthandwriting-webfont.woff') format('woff'),
         url('fonts/jandaeleganthandwriting-webfont.ttf') format('truetype'),
         url('fonts/jandaeleganthandwriting-webfont.svg#janda_elegant_handwritingRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*LAYER 0*/
body{
	background-color: $light-blue;
	background-image: url('../imgs/LEVEL0_cloud.png');
	background-repeat: repeat;
	background-attachment: fixed;
	margin: 0px;
}

/*LAYER 1*/
.level1{
	padding-top: 128px;
	height: 8098px;
	overflow: hidden;
	position: relative;
	@include box-sizing(border-box);

	/*HEADER*/
	.title{
		position: relative;
		left: 50%;
		width: 470px;
		margin-left: -235px;
		height: 150px;
		.story{
			font-family: $subtitles;
			font-size: 33px;
			position: absolute;
			width: 150px;
			left: 0px;
		}
		.ceciandre{
			font-family: $titles;
			font-size: 90px;
			position: absolute;
			width: 300px;
			.first_letter{
				font-size: 150px;
			}

			.other_letter{
				margin-left: -22px;
			}
		}

		.ceci{
			@extend .ceciandre;
			top: -11px;
			left: 0px;
		}

		.andre{
			@extend .ceciandre;
			top: 76px;
			left: 190px;
		}

		.dot{
			color: $white;
			font-size: 40px;
			font-family: $text_2;
			background-color: $orange;
			text-align: center;
			line-height: 86px;
			width: 86px;
			height: 86px;
			@include opacity(0.7);
			@include border-radius(43px, 43px);
			position: absolute;
			top: 90px;
			left: 259px;
		}
	}/*END HEADER*/

	/*LINES*/
	.line{
		position: relative;
		background-repeat: no-repeat;
		width: 846px;
		height: 484px;
		left: 50%;
		margin-left: -423px;
	}
	.line_0{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r1_c1.png');
	}
	.line_1{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r2_c1.png');
	}
	.line_2{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r3_c1.png');
	}
	.line_3{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r4_c1.png');
	}
	.line_4{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r5_c1.png');
	}
	.line_5{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r6_c1.png');
	}
	.line_6{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r7_c1.png');
	}
	.line_7{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r8_c1.png');
	}
	.line_8{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r9_c1.png');
	}
	.line_9{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r10_c1.png');
	}
	.line_10{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r11_c1.png');
	}
	.line_11{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r12_c1.png');
	}
	.line_12{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r13_c1.png');
	}
	.line_13{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r14_c1.png');
	}
	.line_14{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r15_c1.png');
	}/*END LINES*/

	/*SCROLL*/
	.scroll{
		position: absolute;
		font-family: $text_2;
		font-size: 25px;
		color: $white;
		background-color: $orange;
		width: 98px;
		height: 98px;
		@include opacity(0.7);
		@include border-radius(49px, 49px);
		text-align: center;
		padding-top: 35px;
		line-height: 25px;
		@include box-sizing(border-box);
		left: 50%;
		margin-left: -400px;
		top: 440px;

		.arrows{
			background-image: url('../imgs/LEVEL1_arrows.png');
			width: 52px;
			height: 27px;
			display: inline-block;
		}
	}

	/*EVENTS*/
	.event{
		position: absolute;
		width: 494px;
		&.left{
			text-align: right;
			.content{
				float: right;
			}
			.dot{
				float: right;
				margin-left: 20px;
			}
		}
		&.right{
			.content{
				float: left;
			}
			.dot{
				float: left;
				margin-right: 20px;
			}
		}
		.dot{
			background-color: $orange;
			width: 15px;
			height: 15px;
			@include border-radius(43px, 43px);
		}
		.content{
			width: 458px;
		}
		.date{
			color: $orange;
			font-family: $subtitles;
			font-size: 20px;
			line-height: 20px;
		}
		.text{
			font-family: $text;
			font-size: 20px;
		}
	}

	#event_1{
		bottom: 0px;
		margin-right: 53px;
	}

	#event_2{
		margin-left: -4px;
		top: 20px;
	}

	/*TRIGGERS*/
	.trigger{
		position: absolute;
	}

	#trigger_1{
		bottom: 100px;
	}

	/*FOOTER*/
	.bottom{
		@include opacity(0);
		position: relative;
		height: 743px;
		top: -178px;
		.andre{
			background-image: url('../imgs/BOTTOM_andre.png');
			background-repeat: no-repeat;
			position: absolute;
			width: 589px;
			height: 394px;
			z-index: 3;
			left: 50%;
			margin-left: -590px;
			bottom: 12px;
		}

		.ceci{
			background-image: url('../imgs/BOTTOM_ceci.png');
			background-repeat: no-repeat;
			position: absolute;
			width: 556px;
			height: 685px;
			z-index: 1;
			left: 50%;
			margin-left: -40px;
			bottom: 60px;
		}

		.erba{
			background-image: url('../imgs/BOTTOM_erba.png');
			background-repeat: repeat-x;
			width: 100%;
			height: 112px;
			position: absolute;
			bottom: 0px;
			z-index: 2;
		}
	}/*END FOOTER*/
}