/*IMPORTS*/
@import "compass";
@import "mixin";
@import "animations";

/*VARIABLES*/
$light-blue: #CCE1ED;
$white: #FFFFFF;
$orange: #FC4000;
$black: #000000;
$flash-green: #7FFF00;
$brown: #662A17;
$time_delta: 100px;
$text: "NeutraTextBookAlt", sans-serif;
$title:'antrokasdemoregular';
$sub-title:'NeutraTextTFBoldAlt';

/*FONTS*/
@font-face {
    font-family: 'NeutraTextTFBoldAlt';
    src: url('fonts/neutratexttfboldalt.eot');
    src: url('fonts/neutratexttfboldalt.eot') format('embedded-opentype'),
         url('fonts/neutratexttfboldalt.woff') format('woff'),
         url('fonts/neutratexttfboldalt.ttf') format('truetype'),
         url('fonts/neutratexttfboldalt.svg#NeutraTextTFBoldAlt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeutraTextBookAlt';
    src: url('fonts/neutratextbookalt.eot');
    src: url('fonts/neutratextbookalt.eot') format('embedded-opentype'),
         url('fonts/neutratextbookalt.woff') format('woff'),
         url('fonts/neutratextbookalt.ttf') format('truetype'),
         url('fonts/neutratextbookalt.svg#NeutraTextBookAlt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'antrokasdemoregular';
    src: url('fonts/antrokas_demo-webfont.eot');
    src: url('fonts/antrokas_demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/antrokas_demo-webfont.woff') format('woff'),
         url('fonts/antrokas_demo-webfont.ttf') format('truetype'),
         url('fonts/antrokas_demo-webfont.svg#antrokasdemoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*@font-face {
    font-family: 'janda_stylish_scriptregular';
    src: url('fonts/jandastylishscript-webfont.eot');
    src: url('fonts/jandastylishscript-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/jandastylishscript-webfont.woff') format('woff'),
         url('fonts/jandastylishscript-webfont.ttf') format('truetype'),
         url('fonts/jandastylishscript-webfont.svg#janda_stylish_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

/*@font-face {
    font-family: 'voluptate_demoregular';
    src: url('fonts/voluptate_demo-webfont.eot');
    src: url('fonts/voluptate_demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/voluptate_demo-webfont.woff') format('woff'),
         url('fonts/voluptate_demo-webfont.ttf') format('truetype'),
         url('fonts/voluptate_demo-webfont.svg#voluptate_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dk_sleepy_timeregular';
    src: url('fonts/dk_sleepy_time-webfont.eot');
    src: url('fonts/dk_sleepy_time-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dk_sleepy_time-webfont.woff') format('woff'),
         url('fonts/dk_sleepy_time-webfont.ttf') format('truetype'),
         url('fonts/dk_sleepy_time-webfont.svg#dk_sleepy_timeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'shelter_meregular';
    src: url('fonts/shelter_me-webfont.eot');
    src: url('fonts/shelter_me-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/shelter_me-webfont.woff') format('woff'),
         url('fonts/shelter_me-webfont.ttf') format('truetype'),
         url('fonts/shelter_me-webfont.svg#shelter_meregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'janda_elegant_handwritingRg';
    src: url('fonts/jandaeleganthandwriting-webfont.eot');
    src: url('fonts/jandaeleganthandwriting-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/jandaeleganthandwriting-webfont.woff') format('woff'),
         url('fonts/jandaeleganthandwriting-webfont.ttf') format('truetype'),
         url('fonts/jandaeleganthandwriting-webfont.svg#janda_elegant_handwritingRg') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

/*LAYER 0*/
body{
	background-color: $light-blue;
	background-image: url('../imgs/LEVEL0_cloud.png');
	background-repeat: repeat;
	background-attachment: fixed;
	margin: 0px;
}

/*MOBILE*/
.level_mobile{
	display: none;
	text-align: center;
	padding: 50px 10px;

	@media(max-width: 850px){
		display:block;
	}

	.disclaimer{
		font-family: $sub-title;
		margin-top: 50px;
		margin-bottom: 20px;
		color: $brown;
		font-size: 20px;
		line-height: 22px;
	}

	.wedding_info{
		font-family: $text;
		text-align: center;
		font-size: 18px;
		line-height: 20px;

		.info_addr{
			font-size: 14px;
		}

		.info_title{
			font-family: $sub-title;
			text-transform: uppercase;
		}

		.presents{
			font-family: $title;
			font-size: 43px;
			line-height: 60px;
			margin-top: 20px;
			text-shadow: 2px 2px #fff;
		}

		.church_d{
			font-size: 22px;
			margin-bottom: 10px;
			line-height: 24px;
		}

		.church{
			font-size: 26px;
			line-height: 30px;
		}

		.church_h{
			font-size: 40px;
			line-height: 45px;
		}

		.presents_ag{
			font-size: 25px;
			line-height: 30px;
			margin-top: 5px;
		}

		a{
			color: $orange;
		}
	}
}

/*LAYER 1*/
.level1{
	padding-top: 128px;
	height: 8300px;
	overflow: hidden;
	position: relative;
	@include box-sizing(border-box);
	width: 100%;

	@media(max-width: 850px){
		display:none;
	}

	/*HEADER*/
	.title{
		position: relative;
		left: 50%;
		width: 470px;
		margin-left: -235px;
		height: 150px;
		font-family: $title;

		.story{
			font-size: 43px;
			position: absolute;
			width: 233px;
			left: 40px;
		}
		.ceciandre{
			font-size: 130px;
			position: absolute;
			width: 300px;
			text-shadow: 2px 2px white;
		}

		.ceci{
			@extend .ceciandre;
			top: 59px;
			left: 0;
		}

		.andre{
			@extend .ceciandre;
			top: 146px;
			left: 210px;
		}

		.dot{
			color: $white;
			font-size: 70px;
			font-family: $title;
			background-color: $orange;
			text-align: center;
			line-height: 86px;
			width: 86px;
			height: 86px;
			@include opacity(0.7);
			@include border-radius(43px, 43px);
			position: absolute;
			top: 90px;
			left: 299px;
		}
	}/*END HEADER*/

	/*LINES*/
	.line{
		position: relative;
		background-repeat: no-repeat;
		width: 846px;
		height: 484px;
		left: 50%;
		margin-left: -423px;
	}
	.line_0{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r1_c1.png');
	}
	.line_1{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r2_c1.png');
	}
	.line_2{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r3_c1.png');
	}
	.line_3{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r4_c1.png');
	}
	.line_4{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r5_c1.png');
	}
	.line_5{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r6_c1.png');
	}
	.line_6{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r7_c1.png');
	}
	.line_7{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r8_c1.png');
	}
	.line_8{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r9_c1.png');
	}
	.line_9{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r10_c1.png');
	}
	.line_10{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r11_c1.png');
	}
	.line_11{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r12_c1.png');
	}
	.line_12{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r13_c1.png');
	}
	.line_13{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r14_c1.png');
	}
	.line_14{
		@extend .line;
		background-image: url('../imgs/LAYER1_line_r15_c1.png');
	}/*END LINES*/

	/*SCROLL*/
	.scroll{
		position: absolute;
		font-family: $title;
		font-size: 25px;
		color: $white;
		background-color: $orange;
		width: 98px;
		height: 98px;
		@include opacity(0.7);
		@include border-radius(49px, 49px);
		text-align: center;
		padding-top: 35px;
		line-height: 25px;
		@include box-sizing(border-box);
		left: 50%;
		margin-left: -400px;
		top: 440px;
		@include animation-name(upDown);
		@include animation-duration(1s);
		@include animation-iteration-count(infinite);
		@include animation-direction(alternate);
		@include animation-timing-function(ease-out);

		.arrows{
			background-image: url('../imgs/LEVEL1_arrows.png');
			width: 52px;
			height: 27px;
			display: inline-block;
		}
	}

	.link_to_info{
		position: absolute;
		font-family: $title;
		font-size: 25px;
		color: $white;
		background-color: $brown;
		width: 78px;
		height: 78px;
		@include opacity(0.7);
		@include border-radius(39px, 39px);
		text-align: center;
		padding-top: 29px;
		line-height: 25px;
		@include box-sizing(border-box);
		top: 20px;
		right: 20px;
		text-decoration: none;
	}

	/*EVENTS*/
	.event{
		position: absolute;
		width: 494px;
		&.left{
			text-align: right;
			.content{
				float: right;
			}
			.dot{
				float: right;
				margin-left: 20px;
			}
		}
		&.right{
			.content{
				float: left;
			}
			.dot{
				float: left;
				margin-right: 20px;
			}
		}
		&.centre{
			text-align: center;
			left: 50%;

			&.wedding{
				visibility: inherit;
				opacity: 1;
				top: 100px;
				width: 350px;
				margin-left: -195px;

				.date{
					text-align: left;
					line-height: 30px;
					color: $orange;
				}
				.event_title{
					color: #000;
					font-size: 81px;
					line-height: 79px;
					text-shadow: 2px 2px white;
				}
			}
		}
		.dot{
			background-color: $brown;
			width: 15px;
			height: 15px;
			@include border-radius(43px, 43px);
		}
		.content{
			width: 360px;
		}
		.date{
			color: $orange;
			font-family: $sub-title;
			color: $brown;
			line-height: 25px;
			text-transform: uppercase;
			padding-bottom: 5px;
			font-size: 20px;
			
			.lw{
				text-transform: lowercase;
				position: relative;
				top: 0px;
			}

			span{
				position: relative;
				top: 7px;
				display: inline-block;
				margin: 0px 5px;
			}

			&.inTheBubble{
				margin-bottom: 10px;
			}
		}
		.text{
			font-family: $text;
			font-size: 18px;
			line-height: 20px;
		}
		.event_title{
			color: $orange;
			line-height: 45px;
			font-size: 40px;
			font-family: $title;
		}
	}

	#event_1{
		bottom: 0px;
		margin-right: 53px;
	}

	#event_2{
		margin-left: -4px;
		top: 20px;
	}
	#event_3{
		top: 220px;
		width: 320px;
		margin-left: -160px;
	}

	#event_5{
		top: 50px;
	}

	#event_6{
		bottom: 180px;
	}

	#event_7{
		bottom: 60px;
	}

	#event_8{
		width:370px;
		margin-left:-185px;
		top:60px
	}

	#event_9{
		top: 300px
	}

	#event_10{
		width:430px;
		margin-left: -215px;
		top: 125px;
	}

	#event_11{
		bottom:	11px;
	}

	#event_18{
		margin-left: -185px;
		width: 370px;
		top:280px;
	}

	#event_12{
		top: 80px;
	}

	#event_13{
		top: 120px;
	}

	#event_15{
		top: 240px;
	}

	#event_16{
		top: 330px;
	}

	#event_17{
		top: 450px;
	}

	#event_19{
		margin-left: -180px;
		width: 360px;
		top: 325px;
	}

	#event_22{
		top: 190px;
	}

	#event_20{
		top: 230px;
	}

	#event_21{
		top: 400px;
	}

	/*TRIGGERS*/
	.trigger{
		position: absolute;
	}

	#trigger_1{
		bottom: 350px + $time_delta;
	}

	#trigger_2{
		top: -250px - $time_delta;
	}

	#trigger_3{
		top: 20px - $time_delta;
	}

	#trigger_4{
		top: -250px - $time_delta;
	}

	#trigger_5{
		top:  0px - $time_delta;
	}
	#trigger_6{
		top: 20px - $time_delta;
	}
	#trigger_7{
		top: 20px - $time_delta;
	}

	#trigger_8{
		top: -100px - $time_delta;
	}

	#trigger_9{
		top: 150px - $time_delta;
	}

	#trigger_10{
		top: -150px - $time_delta;
	}

	#trigger_11{
		bottom: 240px + $time_delta;
	}

	#trigger_18{
		top: 120px - $time_delta;
	}

	#trigger_12{
		top: -140px - $time_delta;
	}

	/*#trigger_13{
		top: 120px;
	}*/

	#trigger_15{
		top: 100px - $time_delta;
	}

	/*#trigger_16{
		top: 330px;
	}*/

	#trigger_17{
		top: 250px - $time_delta;
	}

	#trigger_19{
		top: 200px - $time_delta;
	}

	#trigger_20{
		top: 230px - $time_delta;
	}

	#trigger_22{
		top: 190px - $time_delta;
	}

	#trigger_21{
		top: 320px - $time_delta;
	}

	#trigger_bottom{
		position: relative;
		top: -240px - $time_delta;
	}

	/*FOOTER*/
	.bottom{
		@include opacity(0);
		position: relative;
		height: 743px;
		top: 22px;
		.andre{
			background-image: url('../imgs/BOTTOM_andre.png');
			background-repeat: no-repeat;
			position: absolute;
			width: 589px;
			height: 394px;
			z-index: 3;
			left: 50%;
			margin-left: -590px;
			bottom: 12px;
		}

		.wedding_info{
			font-family: $text;
			width: 300px;
			right: 50%;
			text-align: center;
			font-size: 18px;
			line-height: 20px;
			position: absolute;
			margin-right: 70px;
			top: -160px;

			.info_addr{
				font-size: 14px;
			}

			.info_title{
				font-family: $sub-title;
				text-transform: uppercase;
			}

			.presents{
				font-family: $title;
				font-size: 43px;
				line-height: 60px;
				margin-top: 20px;
				text-shadow: 2px 2px #fff;
			}

			.church_d{
				font-size: 22px;
				margin-bottom: 10px;
				line-height: 24px;
			}

			.church{
				font-size: 26px;
				line-height: 30px;
			}

			.church_h{
				font-size: 40px;
				line-height: 45px;
			}

			.presents_ag{
				font-size: 25px;
				line-height: 30px;
				margin-top: 5px;
			}

			a{
				color: $orange;
			}
		}

		.ceci{
			background-image: url('../imgs/BOTTOM_ceci.png');
			background-repeat: no-repeat;
			position: absolute;
			width: 556px;
			height: 685px;
			z-index: 1;
			left: 50%;
			margin-left: -40px;
			bottom: 60px;
		}

		.erba{
			background-image: url('../imgs/BOTTOM_erba.png');
			background-repeat: repeat-x;
			width: 100%;
			height: 112px;
			position: absolute;
			bottom: 0px;
			z-index: 2;
		}
	}/*END FOOTER*/

	/*PARALLAX LEVELS*/
	.parallax_container{
		width: 802px;
		height: 450px;
		overflow: hidden;
		position: relative;
		left: 50%;
		margin-left: -401px;
		@include border-radius(25px, 25px);
		background-color: $white;
	}

	.p_layer{
		position: absolute;
		height: 100%;
		background-repeat:no-repeat;
	}

	#parallax1{
		top: 203px;

		.p_layer_1{
			background-image: url('../imgs/PARALLAX1_Bg.png');
			width: 100%;
			background-position: 0% -100px;
			z-index: 0;
			background-repeat: repeat;
		}

		.p_layer_2{
			background-image: url('../imgs/PARALLAX1_Main.png');
			width: 804px;
			background-position: 0% -235px;
			z-index: 1;
		}

		.p_layer_3{
			background-image: url('../imgs/PARALLAX1_Lines.png');
			width: 804px;
			background-position: 0% -500px;
			z-index: 2;
		}

		.p_layer_4{
			background-image: url('../imgs/PARALLAX1_Bbq.png');
			width: 804px;
			background-position: 0% -700px;
			z-index: 3;
		}

		.p_layer_5{
			background-image: url('../imgs/PARALLAX1_Icons.png');
			width: 804px;
			background-position: 0% 200px;
			z-index: 4;
		}
	}

	#parallax2{
		top: 516px;

		.p_layer_1{
			background-image: url('../imgs/PARALLAX2_Bottom.png');
			width: 100%;
			background-position: 0% 10px;
			z-index: 0;
		}

		.p_layer_5{
			background-image: url('../imgs/PARALLAX2_Top.png');
			width: 100%;
			background-position: 0% -30px;
			z-index: 0;
		}

		.p_layer_2{
			background-image: url('../imgs/PARALLAX2_Menu.png');
			width: 804px;
			background-position: 0% 40px;
			z-index: 2;
		}

		.p_layer_3{
			background-image: url('../imgs/PARALLAX2_Pasta.png');
			width: 804px;
			background-position: 0% 60px;
			z-index: 3;
		}

		.p_layer_4{
			background-image: url('../imgs/PARALLAX2_Spoon.png');
			width: 804px;
			background-position: 0% 20px;
			z-index: 1;
		}
	}

	#parallax3{
		top: 608px;

		.p_layer_1{
			background-image: url('../imgs/PARALLAX3_Bg.png');
			width: 100%;
			z-index: 0;
		}

		.p_layer_2{
			background-image: url('../imgs/PARALLAX3_Snow1.png');
			width: 804px;
			background-position: 0% -237px;
			z-index: 2;
			height: 650px;
		}

		.p_layer_7{
			background-image: url('../imgs/PARALLAX3_Snow1.png');
			width: 804px;
			background-position: 0% -237px;
			z-index: 2;
			height: 650px;
			margin-left: 100px
		}

		.p_layer_3{
			background-image: url('../imgs/PARALLAX3_Snow2.png');
			width: 804px;
			background-position: 0% -443px;
			z-index: 3;
			height: 650px;
		}

		.p_layer_4{
			background-image: url('../imgs/PARALLAX3_Snow2.png');
			width: 804px;
			background-position: 0 -443px;
			z-index: 4;
			height: 650px;
		}
		.p_layer_5{
			background-image: url('../imgs/PARALLAX3_Snow2.png');
			width: 804px;
			background-position: 0 -443px;
			z-index: 7;
			height: 650px;
			margin-left: -100px;
		}
		.p_layer_6{
			background-image: url('../imgs/PARALLAX3_Snow2.png');
			width: 804px;
			background-position: 0 -443px;
			z-index: 4;
			height: 650px;
			margin-left: 100px;
		}
	}

	#parallax4{
		bottom: 430px;

		.p_layer_1{
			background-image: url('../imgs/PARALLAX4_Bg.png');
			width: 100%;
			z-index: 0;
		}

		.p_layer_2{
			background-image: url('../imgs/PARALLAX4_Train.png');
			width: 804px;
			background-position: -400px 0%;
			z-index: 2;
			height: 650px;
		}

		.p_layer_3{
			background-image: url('../imgs/PARALLAX4_Front.png');
			width: 100%;
			z-index: 3;
		}

		.p_layer_4
		{
			font-family: $text;
			padding: 30px;
			width: 300px;
			right: 0px;
			text-align: right;
			font-size: 18px;
			line-height: 20px;
		}
	}

	#parallax5{
		top: 183px;
		background-color: $black;

		.p_layer_1{
			background-image: url('../imgs/PARALLAX5_Hand.png');
			width: 100%;
			z-index: 0;
		}

		.p_layer_2{
			background-image: url('../imgs/PARALLAX5_Ring.png');
			width: 33px;
			height: 71px;
			z-index: 2;
		}

		.p_layer_4
		{
			font-family: $text;
			padding: 30px;
			width: 300px;
			left: 0px;
			text-align: left;
			font-size: 18px;
			line-height: 20px;
			color: $flash-green;
		}
	}
}

.level2{
		position: absolute;
		top: 0px;
		left:0px;

		.relative{
			position: relative;
		}

		#parallax_trigger1{
			top: 1322px + 128px - 300px;
			position: relative;
		}

		#parallax_trigger2{
			top: 2735px - 300px;
			position: relative;
		}

		#parallax_trigger3{
			top: 3798px - 300px;
			position: relative;
		}

		#parallax_trigger4{
			top: 4693px - 300px;
			position: relative;
		}

		#parallax_trigger5{
			top: 6275px - 300px;
			position: relative;
		}
	}